.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 10px;
  border: 2px solid white;
  color: white;
  background-color: red;
  width: 300px;
  height: 100px;
}